* {
	margin: 0;
	padding: 0;
}
header{
	background: #FFE4E1;
	width: 100%;
}
.custom-btn{
	color: #fff; 
	text-decoration: none; 
	user-select: none; 
	background: rgb(212,75,56); 
	padding: .7em 1.5em; 
	outline: none; 
	border-radius: 1px;
	margin-top: 70px;
}
.footer{
	padding-bottom: 20px;
}
p{
	text-indent: 20px;
}